body {
  font-family: 'Montserrat';
}

h1 {
  color: #555860;
}

#title {

}

.logo {
  color: #555860;
  text-align: left;
}


.logo-image {
  width: 50px;
  height: 50px;
}

.title-background {
  background-image: url('https://raw.githubusercontent.com/AppBaker/site/master/images/tipi1.jpg');
  background-size: cover;
}

.title-heading{

}

.title-block {

  font-family: 'Montserrat-Bold';
  position: relative;
  padding: 15%;
}

.title-image {
  width: 100%;
  position: absolute;
  /* top: 0px; */
}

.youtube-button{
  margin: 5% 10px;
  color: #c4302b;
  font-family: 'Montserrat';
}

.buy-button {
  margin: 5% 10px;
  font-family: 'Montserrat';
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .logo-image{
    width: 55px;
    height: 55px;
  }

  h5 {
    font-size: 1.4rem;
  }
  h6{
    font-size: 1rem;
  }

  .icon {
    font-size: 4rem;
  }

  .title-heading {
    font-size: 3rem;
    padding-bottom: 10%;
  }

  .youtube-button {
    font-size: 2rem;
  }

  .buy-button{
    font-size: 2rem;
  }

  .title-background {
    background-position: center;
    background-size: cover;
    padding: 20% 0;
  }
}

#features {
  position: relative;
  text-align: center;
  /* position: relative; */
  /* margin-top: -10%; */
  background-color: #e6e8ec;
  padding: 7% 15%;
}

.icon {
  font-size: 7rem;
  /* color: #ff4c68; */
  margin-bottom: 10%;
}
