
h3 {
  padding: 250px 0px 30px 0px;
  color: gray;
  font-family: "Montserrat";
  font-weight: 400;
}

  h1 {
  text-align: center;
  /* padding: 200px 0px 30px 0px; */
}

.appBaker {
  font-size: 7rem;
  font-family: "Montserrat";
  font-weight: 400;
}

.montserrat700 {
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
}

.links {
  padding-bottom: 350px
}

#main {
  background-color: #3E3F3A;
}
